<%- include ('partials/header.ejs') %>
<body>
  <header style="text-align: justify;">
    <%- include ('partials/navbar.ejs') %>
    <h1>Bem-vindo à Rede Social de Perguntas e Respostas</h1>
  </header>
  <br>
  <main>
    <section class="actions">
      <h3>Faça uma <a href="/perguntar" class="btn btn-success">pergunta</a>!!!</h3>
      <br>
      <h3>Veja as perguntas abaixo:</h3>
    </section>
    <br>
    <div class="container">
      <% perguntas.forEach(pergunta => { %>
        <div class="card">
          <div class="card-header">
            <h4><%= pergunta.titulo %></h4>
          </div>
          <div class="card-body">
            <p><%= pergunta.descricao %></p>
            <button class="btn btn-primary">Responder</button>
          </div>
        </div>
      <% }) %>  
    </div>
  </main>

  <%- include ('partials/footer.ejs') %>
</body>
